@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-color: #F94A3D12;
}
nav{
    height: 150px;
    display: flex;
    padding:40px;
}
nav,ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    margin-left: 30px;
}
li a{
    color: #212244;
}
.search-btn{
    display: flex;
    align-items: flex-start;
}
.ca{
    margin-left: 10px;
    border-radius: 12px;
    display: flex;
}
.search-btn .ca input#search{
    background-color: #F94A3D12;
    padding: 5px;
    border: none;
    border-right: 2px solid gray;
}
.ca img{
    background-color: #F94A3D12;
    height: 30px;
    display: flex;
    justify-content: baseline;
}
a{
    opacity: 0.6;
    border-radius: 5px;
}
span input{
    border-left: 1px solid gray;
}
span button{
    border: none;
    display: contents;
}
.content{
    text-align: center;
    position: relative;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #F94A3D;
    color: white;
    left: 37px;
    top: -6px;
}
.btn{
    margin-left: 10px;
    padding: 5px 20px 5px 20px;
    background-color: #F94A3D;
    border-radius: 12px;
    color: white;
    border: none;
}


/* Main */
main{
    height: 400px;
    padding-top: 20px;
}
.parent{
    height: 150px;
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 50px;
}
.child{
    margin-top: 100px;
}
.a{
    width: 35vw;
}
.b{
    /* width: 70vw; */
    margin-left: 50px;
}
.circle{
    border-radius: 10px;
    background-color: #FDECEC;
    color: #F94A3D;
}
.a .circle{
    width: 150px;
}
.a span{
    height: 40px;
    width: 40px;
    border: 50%;
}
.a span svg{
    background-color: #FFFFFF;
    position: relative;
    top:-33px;
    height: 40px;
    width: 40px;
    right: -130px;
    border-radius: 50%;
}
.dpic img{
    height: 80vh;
    /* width: 50vw; */
    /* background-image: url(image/frame.PNG); */
    /* background-repeat: no-repeat; */
    /* background-size:contain; */
}
.btn1{
    margin-top: 20px;
    padding: 15px;
}


/* Main Div */

.main{
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 400px;
    height: 650px;
    background-color: #FFFFFF;
}
.about-us{
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
}
.d1,.d2{
    height: 25vh;
    width: 25vw;
    margin: 0px 20px 0px 20px;
}
.d1 img{
    height: 125px;
    width: 125px;
}
.about-us-more{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-evenly;
}
.d2{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 20px 40px 90px -5px rgba(133, 15, 15, 0.08);
    margin-bottom: 20px;
}


/* Special */
.special{
    height: 900px;
    background-color: #FFFFFF;
}
.special h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.types ul li:hover{
    color: red;
    border-bottom: 2px solid red;
}
.types{
    display: flex;
    justify-content: center;
}
.card{
    padding-left: 30px;
}
.card button{
    margin-top: 5px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
}
.card button:hover{
    background-color: red;
    color: white;
}


/* Testinomial */
.testinomial{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    background-color: #FFFFFF;
}
.child1{
    width: 40vw;
    height: 450px;
    border-right: 2px solid #EAEAEA;
}
.child2{
    width: 60vw;
}
.card1{
    height: 100px;
    width: 400px;
    padding-top: 10px;
    display: flex;
}
.card1:hover{
    border-right: 2px solid #F94A3D;
    background-color: #EAEAEA;
}
.card1 img{
    height: 75px;
    width: 75px;
    margin-right: 20px;
}
.card1 .subdiv{
    margin-top: 10px;
}
.subdiv h4,.subdiv1 h4{
    color: #69697B;
}
.child2{
    padding-left: 70px;
}
.card2{
    margin-top: 50px;
}
.subdiv1{
    display: flex;
    justify-content: space-between;
}
.subdiv1 svg{
    margin-left: 10px;
}
.card2 p{
    padding-top: 20px;
    color:#69697B
}
/* Mobile app */
.mobile-app{
    padding: 100px 0px;
    margin-top: 900px;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.box{
    display: flex;
    padding: 100px 0px;
    height: 280px;
    width: 80%;
    background-color: #F94A3D;
    border-radius: 20px;
}
.box1{
    padding-left: 20px;
    width: 400px;
    margin-right: 150px;
    margin-left: 50px;
}
.box1 img{
    height: 650px;
    position: relative;
    top:-80px;
    left:15px;
}
.box .circle3{
    position: absolute;
    width: 370px;
    height: 300px;
    border-radius: 100%;
    background-color: #F94A3D;;
}
.box .circle2{
    position: absolute;
    width: 450px;
    height: 350px;
    border-radius: 50%;
    background-color: #EE3E32;
}
.box .circle1{
    position: absolute;
    left: 142px;
     width: 500px; 
     height: 400px; 
     border-radius: 50%;
    background-color: #E83B2E;
 }

.box2{
    height: 380px;
    width: 400px;
}
.box2{
    overflow: hidden;
}
.box2 h2,.box2 p{
    padding-bottom: 5px;
    color: #FFF;
}
.box2 .logo{
    padding-top: 20px;
    display: flex;
}
.logo1 img{
    height: 50px;
    padding: 15px;
}
.chicken{
    padding-left: 60%;
}
/* footer */
footer{
    margin-top: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.foot1{
    width: 25vw;
}
.foot1 img{
    padding-bottom: 20px;
}
.foot2 h4{
    padding-bottom: 20px;
    padding-left: 25px;
}

@media screen and (max-width: 1024px){
    li {
        margin-left: 10px;
    }
    .box{
        width: 95%;
    }
    .box1{
        padding-left: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .circle1,.circle2,.circle3{
        display: none;
    }
    .box2{
        overflow: visible;
    }
  }
  @media screen and (max-width: 1680px){
    .box{
        margin-top: 150px;
        margin: 200px;
    }
    .dpic img{
        height: 60vh;
        margin-top: 150px;
    }
  }
  @media screen and (max-width: 1440px){
    .about-us{
        padding: 100px 100px 0px 100px;
    }
    .d2{
        margin-top: 100px;
        height: 150px;
    }
    .testinomial{
        padding-top: 50px;
    }
    .box{
        margin-top: 150px;
        padding: 120px;
    }
    .box2{
        height: 395px;
    }
  }
  @media screen and (max-width: 1400px){
    .a .circle{
        margin-top: 70px;
    }
  }
  @media screen and (max-width:1286px){
    .dpic img{
        width: 250px;
        height: 250px;
    }
  }
  @media screen and (max-width:1026px){
    nav{
        height: 200px;
        display: block;
    }
    nav .logo img{
        padding-left: 50%;
    }
    nav li{
        padding: 10px;
    }
    nav .search-btn{
        padding-left: 40%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .a .circle{
        padding-top: 50px;
    }
    main{
        height: 500px;
    }
    .main{
        margin-top: 0px;
        padding-top: 0px;
    }
    .main .about-us .d1{
        height: 17vh;
    }
    .main .about-us h1{
        font-size: larger;
    }
    .main .about-us svg{
        height: 120px;
    }
    .main .about-us-more .d2 p{
        font-size:medium;
    }
    .main .about-us-more .d2 h2{
        padding: 30px;
        font-size:large;
    }
  }

  @media screen and (max-width:940px){
    .main .about-us h1{
        font-size: large;
    }
    .main .about-us-more .d2 p{
        font-size:small;
    }
    .main .about-us-more .d2 h2{
        padding: 30px;
        font-size:small;
    }
    .special .about-us .d1 svg{
        height: 100px;   
    }
    .special .about-us .d1{
        height: 11vh;
    }
    .special .about-us-more .d2 svg{
        height: 12px;
    }
    .special .about-us-more .d2 h3{
        font-size: small;
    }
    .special .about-us-more .d2 h4{
        font-size: small;
    }
    .special .about-us-more .d2 button{
        padding: 5px;
    }
    .button
  }